<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="./images/favicon.svg">
    <title>ูพุฑููุงู <%= name %></title>
</head>
<body>
    <div class="login-logo"></div>
    <h1 id="login-heading">ุณุงุจโูุช</h1>
    <div class="user-area">
        <h2 class="user-heading">๐๐ป ุณูุงูุ <span><%= name %></span></h2>
        <h2 class="user-heading">๐ค ุงุทูุงุนุงุช ูพุฑููุงู VPN</h2>
        <h3 class="account-heading">๐ท ูุงู ฺฉุงุจุฑ: <span><%= username %></span></h3>
        <h3 class="account-heading">๐ ฺฏุฐุฑูุงฺู ุนุฏุฏ: <span><%= pin %></span></h3>
        <h3 class="account-heading">๐ ุชุงุฑุฎ ุดุฑูุน ุงุดุชุฑุงฺฉ: <span><%= date %></span></h3>
        <h3 class="account-heading">๐ ุชุงุฑุฎ ุงุชูุงู ุงุดุชุฑุงฺฉ: <span><%= expirationDate %></span></h3>
        <% if (remainingDays <= 0) { %>
            <h3 class="account-heading">โ๏ธ ุงุดุชุฑุงฺฉ ุดูุง ุชูุงู ุดุฏู ุงุณุช!</span></h3>
        <% } else { %>
            <h3 class="account-heading">โฐ ุฒูุงู ุจุงู ูุงูุฏู: <span><%= remainingDays %> ุฑูุฒ</span></h3>
        <% } %>
    </div>
    <div class="logout">
        <a href="/user">ุฎุฑูุฌ</a>
    </div>
</body>
</html>

